<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>LODE</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LODE</display-name>
		<servlet-name>LODE</servlet-name>
		<servlet-class>it.essepuntato.lode.LodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LODE</servlet-name>
		<url-pattern>/extract</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetSource</display-name>
		<servlet-name>GetSource</servlet-name>
		<servlet-class>it.essepuntato.lode.GetSource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSource</servlet-name>
		<url-pattern>/source</url-pattern>
	</servlet-mapping>
</web-app>